body {
  min-height: 100vh;
  background: linear-gradient(#95d198, #12311b);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #182529;
}
.header {
  padding: 20px;
  background: #3c9d49af;
}
.main {
  flex-grow: 1;
  padding: 30px;
}
.react {
  padding: 30px 10px;
  margin-bottom: 44px;
  border: 1px solid #000;
  &__title {
    font-size: 1.4em;
    font-weight: 400;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 26px;
      bottom: -10px;
      display: block;
      width: 70%;
      height: 2px;
      background: #3c9d49af;
    }
  }
}
.btn_plus {
  padding: 5px 10px;
  border: 1px solid #334043;
  border-radius: 8px;
}
.footer {
  padding: 40px 20px;
  background: #123232;
  color: #64aab1;
}
.timer_block {
  background: linear-gradient(#a8f75e, #55a505);
}
